@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
html, body
{
    font-family: 'Indie Flower', cursive;
    margin: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

/* Header Classes */
.header
{
    background-image: url('./media/desktop1.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    background-attachment: fixed;
    display: block;
    min-height: 750px;
}

/* NavBar */
.navbar
{
    z-index: 10;
}
.main-nav-list
{
    list-style-type: none;
    padding-right: 1%;
}

.main-nav-list li
{
    float: right;
    padding: 0.5%;
    /* margin: 0.5%; */
    border-bottom:2px dotted transparent;
    transition: border-bottom .2s ;
    padding-bottom:5px;
}

.main-nav-list a
{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}

.main-nav-list li :hover
{
    border-bottom: 2px solid white;
    border-radius: 2%;
    transition: .9s;
}


/* End NavBar */

/* Intro */

.intro
{
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    margin-top: 20%;
}

.desc
{
    text-align: center;
    color: #ffffff;
    font-size: 25px;
}

/* End Intro */
/* End Header */

/* About Me */
.about-head
{
    text-align: center;
    color: rgb(40, 115, 255);
    border-bottom: 2px solid rgb(40, 115, 255);
    width: 20%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

.about
{

}